* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.container{
    width: 80%;
    margin: auto;
}
.img-fluid{
    width: 100%;
    height: auto;
}

#header {
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    // padding: 20px;
    position: fixed;
    z-index: 10;





    .box {
        display: flex;
        width: 70%;
        margin: 30px auto;

        .logo {
            width: 20%;

            h1 {
                font-size: 40px;
                color: white;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

            }
        }

        .nav-menu {
            width: 80%;
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: flex-end;


            li {

                // position: relative;



                a {
                    text-decoration: none;
                    color: white;
                    font-size: 17px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    padding: 20px;
                    position: relative;

                    &:hover {
                        &::before {
                            width: 20px;
                        }
                    }

                    &::before {
                        content: "";
                        width: 0;
                        height: 2px;
                        position: absolute;
                        bottom: -1px;
                        left: 20px;
                        background-color: #e9204f;

                        transition: 0.7s;

                    }
                }
            }
        }
    }
}





#home {
    position: relative;
    height: 120vh;

    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;



    .start {
     display: flex;
     background-color: black;

.left{
    width: 50%;
   margin: auto;
   padding: 80px;
    .text {
        font-size: 3rem;
        
        color: white;
        position: relative;

        &::before {
            content: '';
            width: 15%;
            height: 3px;
            position: absolute;
            top: -20%;
          
            left: 0;
            background-color: #E9204F;
        }

        h1 {
            color: rgb(255, 255, 255);
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        }
    }
}
.img{
    width: 50%;
    img{
        width: 100%;
    }
}
       
    }

    .button {
        padding: 20px 40px 20px 40px;
        margin: 20px auto;

        display: inline-block;
        position: relative;
        left: 15%;
        border: 3px solid #E9204F;

        &:hover {
            &::before {
                width: 100%;
            }

        }

        &::before {
            content: '';

            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            position: absolute;
            z-index: -1;
            transition: 0.5s ease-in-out;
            background-color: #E9204F;
        }

        a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        }
    }

    .boxes {
        width: 100%;
        position: absolute;
        top: 75%;


        display: flex;
        justify-content: space-around;

        .box {
            width: 33.333%;
            background-color: #1B1B1B;
            margin: 60px;
            position: relative;
            padding: 100px 50px 100px 50px;

            &::before {
                content: '';
                width: 70%;
                height: 20px;

                position: absolute;
                bottom: -20px;
                left: 50%;
                background-color: #E9204F;
            }

            i {
                color: #E9204F;
                font-size: 48px;

            }

            h1 {
                color: white;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

                &::before {
                    content: '';
                    width: 15%;
                    height: 3px;
                    position: absolute;
                    top: 190px;
                    left: 13%;
                    background-color: #E9204F;
                }

            }
        }

        span {
            color: white;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            line-height: 25px;

        }
    }
}

// Home ended 
// 000000000000000000000000000000

#services {

    width: 100%;
    height: 50vh;

    .main {

        margin: 20rem auto;
        padding: 170px 50px;
        position: relative;


        .text {
            width: 50%;


            h1 {
                font-size: 50px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }


            span {
                color: #E9204F;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                line-height: 50px;
                font-weight: 700;
            }

        }

        .boxes {

            width: 100%;

            display: flex;
            flex-wrap: wrap;
            position: relative;


            .box {
                width: 32.5%;
                background-color: #f6efef;
                margin: 10px 5px;
                padding: 40px 60px;
                position: relative;

                &:hover {
                    background-color: #E9204F;
                    width: 32.5%;
                    height: 100%;
                }

                &::before {
                    content: '';
                    position: absolute;

                    width: 0;
                    height: 0;
                    top: 0;
                    left: 0;

                }



            }

            i {
                position: absolute;
                left: 80%;
                top: 40px;
                font-size: 25px;
            }

        }

        &::before {
            content: '';
            background-color: #e9204f;
            height: 60px;
            width: 2px;
            position: absolute;
            top: 90%;
            left: 50%;
        }
    }
}

#works {


    .main {
        margin: 30rem 0;
        width: 100%;

        .text {
            margin: 50px 60px;

            h1 {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 48px;
            }

            span {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                color: #E9204F;
                font-weight: 700;
            }
        }

        .boxes {
            width: 100%;
            display: flex;

            .img {
                width: 33%;
                left: 0;
                flex-wrap: wrap;
                padding: 5px;

                img {
                    width: 100%;
                    height: 100%;

                }
            }
        }
    }
}


#about{
    .top{
        display: flex;
        
        flex-wrap: wrap;
        .top-left{
            width: 40%;

            h1{
                font-size: 50px;
                color: black;
            }
            h4{
                color: #E9204F;
               margin: 20px 0;
            }
          
        }
        .top-right{
            width: 60%;
            span{
                color: #cac5c5;
            }
        }
    }
    .middle{
       
        display: flex;
        justify-content: space-between;
        .img-left{
            width: 63%;
            position: relative;

            img{
                height: 100%;
            }
            .overlay{
                position: absolute;
                top: 0;
                left: 0;
                background-color: #1b1b1b9a;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-end;
                padding: 20px;
                color: white;
            }
            
        }
        .img-right{
            width: 35%;
           .first{
                margin-bottom: 30px;
            }
            
        }
    }
}



// .box {
//     position: relative;
//     width: 80%;
//     height: 70vh;
//     margin: 25px auto;

//     button {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         font-size: 25px;
//         padding: 25px;

//         &:hover {
//             &::before {
//                 width: 100%;
//                 left: 0;
//             }


//         }

//         &::before {
//             content: '';
//             background-color: orange;
//             top: 0;
//             left: 50%;
//             width: 0;
//             height: 100%;
//             position: absolute;
//             z-index: -1;
//             transition: 0.5s ease-in-out;
//         }

//         //     &::after {
//         //         content: '';
//         //         background-color: orange;
//         //         top: 0;
//         //         right: 0;
//         //         width: 0;
//         //         height: 100%;
//         //         position: absolute;
//         //         z-index: -1;
//         //         transition: 0.5s ease-in-out;
//         //     }
//         }
//     }

//     .box1 {
//         width: 100px;
//         height: 100px;
//         background-color: red;
//         animation: myAni 2s infinite;
//         position: absolute;
//         border-radius: 100%;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         color: white;



//         @keyframes myAni {
//             0% {
//                 top: 0;
//                 left: 0;
//                 background-color: red;
//                 transform: rotate(0deg);
//             }

//             25% {
//                 top: 0;
//                 left: 200px;
//                 background-color: rgb(51, 10, 148);
//                 transform: rotate(90deg);
//             }

//             50% {
//                 top: 200px;
//                 left: 200px;
//                 background-color: rgb(9, 115, 22);
//                 transform: rotate(180deg);
//             }

//             75% {
//                 top: 200px;
//                 left: 0;
//                 background-color: rgb(203, 194, 12);
//                 transform: rotate(270deg);
//             }

//             100% {
//                 top: 0;
//                 left: 0;
//                 background-color: rgb(134, 18, 91);
//                 transform: rotate(360deg);
//             }


//         }
//     }

// .box2 {
//     width: 100px;
//     height: 100px;
//     background-color: rgb(13, 152, 140);
//     animation: secondAni 2s infinite;
//     position: absolute;
//     border-radius: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     color: white;

//     @keyframes secondAni {
//         0% {
//             top: 0;
//             left: 200px;
//             background-color: red;
//             transform: rotate(0deg);
//         }

//         25% {
//             top: 200px;
//             left: 0;
//             background-color: rgb(51, 10, 148);
//             transform: rotate(90deg);
//         }

//         50% {
//             top: 200px;
//             left: 200px;
//             background-color: rgb(9, 115, 22);
//             transform: rotate(180deg);
//         }

//         75% {
//             top: 0;
//             left: 200px;
//             background-color: rgb(203, 194, 12);
//             transform: rotate(270deg);
//         }

//         100% {
//             top: 200px;
//             left: 0;
//             background-color: rgb(134, 18, 91);
//             transform: rotate(360deg);
//         }


//     }
//